node_modules
dist
coverage
*.tsbuildinfo

.git
.gitignore

.env
.env.*
!.env.example

*.log
npm-debug.log*

Dockerfile
.dockerignore
docker-compose*.yml

docs
docs-exp
**/*.md

.vscode
.idea

**/*.test.ts
**/*.spec.ts
